- title "- Thank you"
- stylesheets 'invites'
- scripts 'invites'

#registration_thanks
  #thanks
    %h1
      Thank you!

    %p
      You're signed up.

    %p
      I'll send you each draft chapter as it's written.

    #happy_monkey
      %img{ :id => "cute_monkey", :src => "/images/image-code_monkey.jpg" }

  #invite
    .clear

    %h2
      Want the whole book for free?

    %p
      Invite some friends. I'll give a
      %b signed first edition print
      of "#{@invite.story.title}" to the top 50 inviters.

    %p
      I'll get this book published and printed once we hit
      %span.black 5000
      %span.red> *
      &#32;readers (We're at
      = @invite.story.subscribers.count
      now.)
    %p{ :style => "color: #888; font-size: 14px;" }
      %span.red> *
      Why 5000? That's the number of readers a major publisher needs before signing new authors.

    #invite_options
      .left_column
        %h3
          Email your friends:
      .right_column
        #email
          = form_tag send_invites_invites_path do
            = hidden_field_tag "id", @invite.id
            = hidden_field_tag "email[from]", @invite.user.email
            = hidden_field_tag "email[invite_link]", "http://monkeymake.it/i/#{@invite.code}"
            .field
              = text_field_tag "email[recipients]", "Your friend's email address", :class => "grey"
            .field
              = text_area_tag "email[content]", 'Check out this first draft chapter of "' + @invite.story.title + '" by ' + @invite.story.author.full_name + '. http://monkeymake.it/i/' + @invite.code + ' Pretty cool. Thanks!', :class => "grey"
            .action
              = submit_tag "SEND", :id => "invite_submit", :class => "grey"
      .clear

      .left_column
        %h3
          Share this story:
      .right_column
        %span#sharing
          = render :partial => "invites/sharing", :locals => { :share => { :url => "http://monkeymake.it/i/#{@invite.code}", :content => 'Check out this first draft chapter of "Oh, Mighty Hiccup!" by Scott Lambridis. #books', :faces => "false", :width => "70px", :count => "none", :recommend => true } }
      .clear

      .left_column
        %h3
          Or copy and paste this link:
      .right_column
        #invite_code
          %input{:type => "text", :value => "http://monkeymake.it/i/#{@invite.code}"}
      .clear
