- if session[:monkey_experiments].nil? || session[:monkey_experiments]['sign up method'] == 'email'
  = render 'sessions/signup_with_email_form'

- elsif session[:monkey_experiments]['sign up method'] == 'facebook'
  = link_to("/auth/facebook", :class => "nodec") do
    .signin_facebook

- elsif session[:monkey_experiments]['sign up method'] == 'twitter'
  = link_to("/auth/twitter", :class => "nodec") do
    .signin_twitter

- elsif session[:monkey_experiments]['sign up method'] == 'facebook and twitter'
  = link_to("/auth/facebook", :class => "nodec") do
    .signin_facebook
  = link_to("/auth/twitter", :class => "nodec") do
    .signin_twitter

- elsif session[:monkey_experiments]['sign up method'] == 'twitter and facebook'
  = link_to("/auth/twitter", :class => "nodec") do
    .signin_twitter
  = link_to("/auth/facebook", :class => "nodec") do
    .signin_facebook

- elsif session[:monkey_experiments]['sign up method'] == 'facebook, twitter, and email'
  = link_to("/auth/facebook", :class => "nodec") do
    .signin_facebook
  = link_to("/auth/twitter", :class => "nodec") do
    .signin_twitter
  = render 'sessions/signup_with_email_form'