%p
  - if !@author.name.nil?
    Hi #{@author.first_name},
  - else
    Hi,

%p
  Great news!
%p
  = @subscriber.name_or_email
  just subscribed to your story
  = @story.title

%p
  That makes
  = @story.subscribers.count
  total so far!

%p
  Time to invite some more!

= render 'user_mailer/sharing'
= render 'user_mailer/footer'
