%p
  - if !@author.name.nil?
    Hi #{@author.first_name},
  - else
    Hi,

%p
  Great news!
%p
  = @subscriber.name_and_email
  just subscribed to
  %i
    = @story.title

  - if !@subscriber.invited_by.nil?
    They were invited by
    = @subscriber.invited_by.name_and_email

%p
  That makes
  = @story.subscribers.count
  total so far!

%p
  Time to invite some more!

= render 'user_mailer/sharing'
= render 'user_mailer/footer'
