- if @author.name.present?
  Hi #{@author.first_name},
- else
  Hi,

:plain
  Great news! #{@subscriber.name_and_email} just subscribed to "#{@story.title}

  That makes #{@story.subscribers.count} readers so far!

- if !@subscriber.invited_by.nil?
  :plain
    They were invited by  #{@subscriber.invited_by.name_and_email}

:plain
  Time to invite some more!

= render 'user_mailer/sharing_plain'
= render 'user_mailer/footer_plain'
