- if @author.name.present?
  Hi #{@author.first_name},
- else
  Hi,

:plain
  Great news! #{@subscriber.name_or_email} just subscribed to "#{@story.title}

  That makes #{@story.subscribers.count} readers so far!

  Time to invite some more!

= render 'user_mailer/sharing_plain'
= render 'user_mailer/footer_plain'
