#signup_form
  = form_for(@signup, :url => { :action => "create" }) do |f|
    - if @signup.errors.any?
      #error_explanation
        %h4
          = pluralize(@signup.errors.count, "error")
          prohibited this tag from being saved:
        %ul
          - @signup.errors.full_messages.each do |msg|
            %li= msg

    #signup_field_name.field
      = f.label :full_name, "Name"
      = f.text_field :full_name, :value => "Enter your Name"

    #signup_field_email.field
      = f.label :email, "Email:"
      = f.text_field :email, :value => "Enter your email"

    .actions
      = f.submit 'Signup'
    .clear