.feedback_widget
  .darkgrey{ :style => "text-align: center; margin: 20px 0; font-size: 1.2em" }
    You're reading a rough draft.

  %h3
    To read the next chapter,
    %br
    tell the author what you think so far:

  %h4
    (Authors love feedback)

  .signup_content
    = form_for(@feedback_message) do |f|
      - if @feedback_message.errors.any?
        #error_explanation
          %h4
            = pluralize(@feedback_message.errors.count, "error")
            prohibited this message from being sent:
          %ul
            - @feedback_message.errors.full_messages.each do |msg|
              %li= msg
      = hidden_field(:chapter, :id)

      .label
        Comments (required)
      .field
        = f.text_area :content, :size => "35x10"

      .label
        Email
        %span.optional
          (if you'd like to hear back from the author)
      .field
        = f.text_field :sender_email, :size => "40"

      .actions
        = f.submit("Send and Read Next Chapter")
        %br
        %br
        %br
        %br