.feedback_widget
  %h3
    To read the next chapter, give feedback:

  %h4
    (Authors love feedback)

  .signup_content
    = form_for(@feedback_message) do |f|
      - if @feedback_message.errors.any?
        #error_explanation
          %h4
            = pluralize(@feedback_message.errors.count, "error")
            prohibited this message from being sent:
          %ul
            - @feedback_message.errors.full_messages.each do |msg|
              %li= msg
      = hidden_field(:chapter, :id)
      .label
        Email
        %span.optional
          (optional to hear back from the author)
      .field
        = f.text_field :sender_email, :size => "40"

      .label
        Feedback
        %span.optional
          (honest feedback is always appreciated)
      .field
        = f.text_area :content, :size => "35x10"

      .actions
        = f.submit("Send and Read Next Chapter")

.darkgrey{ :style => "text-align: center; margin: 20px 0;" }
  You've just read from an early draft.