= link_to "Admin", admin_path
= link_to "Authentications", authentications_path
= link_to "Users", users_path
= link_to "Stories", stories_path
= link_to "Set Experiment", set_experiment_path
= link_to "Cookie", cookie_path