= title "- Admin"
- stylesheets 'admin'

-# Add a no track cookie to google analytics
= javascript_tag "_gaq.push(['_setVar', 'monkey_no_track']);"

#white_background
  .funnel
    -# Take only activities in what range?
    - range = 1

    -# Display how many ranges?
    - rows = 15

    %h1
      Landing page #{range == 1 ? 'daily' : "every #{range} days"}

    %table
      %tr
        %th
          Start Date
        %th
          Landing Page Views
        %th
          Landing Page Clicks
        %th
          Button Clicks
        %th
          Signups

      - (-1..rows).each do |i|
        - start_date = Time.now.midnight - (i + range).day
        - end_date = Time.now.midnight - i.day

        - sessions = Activity.unique_sessions(:created_at => start_date..end_date)

        %tr
          %td
            = start_date.month
            \/
            = start_date.day

          %td
            - sessions_to_landing_page = Activity.landing_page_views_before_click(sessions)
            = landing_page_views = sessions_to_landing_page.length

          %td
            - landing_page_clicks_after_view = Activity.landing_page_clicks_after_view(sessions).length
            = number_to_percentage(landing_page_clicks_after_view.to_f / landing_page_views * 100)

          %td
            - button_clicks = Activity.button_clicks(sessions_to_landing_page).length
            = number_to_percentage(button_clicks.to_f / landing_page_views * 100)

          %td
            - signups = Activity.signups(sessions_to_landing_page).length
            = number_to_percentage(signups.to_f / landing_page_views * 100)

#white_background
  .funnel
    -# Take only activities in what range?
    - range = 1

    -# Display how many ranges?
    - rows = 15

    %h1
      Directly to different pages #{range == 1 ? 'daily' : "every #{range} days"}

    %table
      %tr
        %th
          Start Date
        %th
          Button Views
        %th
          Button Clicks
        %th
          Signups

      - (-1..rows).each do |i|
        - start_date = Time.now.midnight - (i + range).day
        - end_date = Time.now.midnight - i.day

        - sessions = Activity.crout_view_without_landing_page(Activity.unique_sessions(:created_at => start_date..end_date))

        %tr
          %td
            = start_date.month
            \/
            = start_date.day

          %td
            = button_views = sessions.length

          %td
            - button_clicks = Activity.button_clicks(sessions).length
            = number_to_percentage(button_clicks.to_f / button_views * 100)

          %td
            - signups = Activity.signups(sessions).length
            = number_to_percentage(signups.to_f / button_views * 100)
