= title "- Index Authentications"

%h1 Listing Authentications
%table
  %tr
    %th User
    %th Provider
    %th UID
    - if can? :destroy, @authenticaion
      %th
  - @authentications.each do |authentication|
    %tr
      %td
        = link_to authentication.user.identifier, authentication.user if !authentication.user.nil?
      %td= authentication.provider
      %td= authentication.uid
      - if can? :destroy, @authenticaion
        %td= link_to 'Destroy', authentication, :confirm => 'Are you sure?', :method => :delete