- title "- Thank you"
- stylesheets 'registration_thanks'
- scripts 'registration_thanks'

%script
  _kmq.push(['record', 'Signed up'])

#registration_thanks
  %h1
    Thank you!

  %p
    %b.black
      = User.all.count
    have already signed up!
    %br
    Once we hit
    %b.black 5,000
    readers, we can get this book published.

  %p
    %i
      Want a free book? Invite your friends.
    %br
    The top 50 inviters will get a
    %b.black< free first edition copy
    %br
    of "Oh, Mighty Hiccup!"

  %p
    Inviting friends is easy. You can

  %ol
    %li
      %span
        %span.blue
          Email your friends:
        #email
          = form_tag invite_email_registrations_path do
            = hidden_field_tag "email[from]", @user.email
            = hidden_field_tag "email[invite_link]", "http://monkeymake.it/i/#{@user.invite_code}"
            .field
              = text_field_tag "email[to]", "Your friend's email address", :class => "darkgrey"
            .field
              = text_area_tag "email[message]", "Check out the first chapter novel draft by Scott Lambridis. http://monkeymake.it/i/" + @user.invite_code + "Pretty cool. Thanks!", :class => "darkgrey"
            .action
              = submit_tag ""

    %li
      %span.blue
        Share or tweet the story:
        %span#sharing
          = render :partial => "/shared/sharing", :locals => { :share => { :url => "http://monkeymake.it/i/#{@user.invite_code}", :content => "test", :faces => "false", :width => "70px", :count => "none" } }

    %li
      %span.blue
        Or just pass around this coded link:
      #invite_code
        %input{:type => "text", :value => "http://monkeymake.it/i/#{@user.invite_code}"}

    #happy_monkey
      %img{ :id => "cute_monkey", :src => "images/image-code_monkey.jpg" }
