- @registration = User.new

#social_signup
  = link_to("/auth/facebook", :class => "nodec event_login event_login_facebook event_login_facebook_modal") do
    .signin_facebook
  %br
  = link_to("/auth/twitter", :class => "nodec event_login event_login_twitter event_login_twitter_modal") do
    .signin_twitter

  .signup_via_email.event_clicked_login.event_clicked_login_email.event_clicked_login_email_modal
    sign up with email

#registration.hide
  = form_for(@registration, :url => registrations_path, :html => { :class => "event_form_email_login" }) do |f|
    - if @registration.errors.any?
      #error_explanation
        %h4
          = pluralize(@registration.errors.count, "error")
          prohibited this tag from being saved:
        %ul
          - @registration.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :full_name, "Name:"
      = f.text_field :full_name, :class => "user_full_name", :value => params[:user].try(:[], :full_name).presence || "Name"

    .field
      = f.label :email, "Email:"
      = f.text_field :email, :class => "user_email", :value => params[:user].try(:[], :email).presence || "Email"

    .actions
      = f.submit ''
    .clear