.sharing-show
  -# Twitter share button
  .twitter.event_clicked_share.event_clicked_share_twitter
    %a.twitter-share-button{ "data-text" => share[:content],
        "data-url" => share[:url],
        "related" => "monkeymakeit:Collaborative Writing and Publishing",
        :href => "http://twitter.com/share",
        "data-count" => share[:count],
    }
      Tweet
    %script{ :src => "http://platform.twitter.com/widgets.js", :type => "text/javascript" }

  -# Facebook like and send button
  .facebook.event_clicked_share.event_clicked_share_facebook
    #fb-root
    %script{:src => "http://connect.facebook.net/en_US/all.js#appId=135537883194595&xfbml=1"}
    %fb:like{ :font => "",
        :href => share[:url] == "http://monkeymake.it/tw" ? "http://www.facebook.com/pages/MonkeyMakeit/210728972305103?sk=wall" : share[:url],
        :layout => share[:count] == "vertical" ? "box_count" : "button_count",
        :send => share[:send] == "false" ? "false" : "true",
        :show_faces => share[:faces] == "true" ? "true" : "false",
        :width => !share[:width].nil? ? share[:width] : "200",
    }

.clear
%hr

:javascript
  $(function() {
    $("#invite_link input").focus();

    $("#email_message").val(
      $("#email_message").val() + " " + "http://monkeymake.it/hiccup?#{@user.invite_code}" ); // TODO: store url for each user/invite
  });

#social_share
  %p Share with your friends to get access sooner!

  #twitter
    %a(href="http://twitter.com/share"
       class="twitter-share-button"
       data-count="none"
       data-url="http://monkeymake.it/hiccup?#{@user.invite_code}"
       data-text="XXX tweet tweet") Tweet
    %script(type="text/javascript"
            src="http://platform.twitter.com/widgets.js")

  #facebook
    %iframe(src="#{facebook_iframe_src("http://monkeymake.it/hiccup?#{@user.invite_code}")}"
    scrolling="no"
    frameborder="0"
    style="border:none; overflow:hidden; width:100px; height:21px;"
    allowTransparency="true")

  #email
    %fieldset(style="background-color: white;")
      %legend Email a friend
      = form_tag invite_email_registrations_path do
        = hidden_field_tag "email[from]", @user.email
        = hidden_field_tag "email[invite_link]", "http://monkeymake.it/hiccup?#{@user.invite_code}"
        %p
          = label_tag "email[to]", "To: "
          %br
          = text_field_tag "email[to]"
        %p
          = label_tag "email[message]", "Invite message: "
          %br
          = text_area_tag "email[message]", "XXX email message"
        %p
          = submit_tag "Email"

%br
#invite_link
  Copy and paste the following link to share wherever you want:
  %br
  %input{:type => "text", :style => "width:50%; font-size:1.25em;", :value => "http://monkeymake.it/hiccup?#{@user.invite_code}"}
