#invitation_form
  = form_for(@invite, :url => invitations_path) do |f|
    - if @invite.errors.any?
      #error_explanation
        %h4
          = pluralize(@invite.errors.count, "error")
          prohibited this tag from being saved:
        %ul
          - @invite.errors.full_messages.each do |msg|
            %li= msg

    #fields
      #invitation_field_name.field
        = f.label :full_name, "Name"
        = f.text_field :full_name, :value => "Name", :id => "invitation_name"

      #invitation_field_email.field
        = f.label :email, "Email:"
        = f.text_field :email, :value => "Email", :id => "invitation_email"

    .actions
      = f.submit ''
      %br
      .company_id
        %span.powered_by
          brought to you by
        %span.company_name
          MonkeyMake.it
    .clear
