#invitation_form
  = form_for(@invite, :url => invitations_path) do |f|
    #fields
      - if @invite.errors.any?
        #error_explanation
          = @invite.errors.full_messages.first

      #invitation_field_name.field
        = f.label :full_name, "Name"
        - if @invite.full_name.blank?
          = f.text_field :full_name, :value => "Name", :id => "invitation_name"
        - else
          = f.text_field :full_name, :value => "Name", :id => "invitation_name"

      #invitation_field_email.field
        = f.label :email, "Email:"
        - if @invite.email.blank?
          = f.text_field :email, :value => "Email", :id => "invitation_email"
        - else
          = f.text_field :email, :id => "invitation_email"

    .actions
      = f.submit ''
      %br
      .company_id
        %span.powered_by
          brought to you by
        %span.company_name
          MonkeyMake.it
    .clear
