= title "- Index Stories"

%h1 Listing stories
%table
  %tr
    %th Author
    %th Title
    %th Subtitle
    %th Summary
    %th Chapters
    %th # of Subscribers
    - if can? :update, @stories
      %th
    - if can? :destroy, @stories
      %th
  - @stories.each do |story|
    %tr
      %td= link_to story.author.name, story.author if !story.author.nil?
      %td= link_to story.title, story
      %td= story.subtitle
      %td= story.summary
      %td{ :style => 'text-align: center;' }= link_to story.chapters.count, story_chapters_path(story)
      %td{ :style => 'text-align: center;' }= story.subscribers.count
      - if can? :update, story
        %td= link_to 'Edit', edit_story_path(story)
      - if can? :destroy, story
        %td= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete

- if can? :create, Story
  = link_to "Create new story", new_story_path