- title "- " + @story.title + " - " + @story.subtitle
- stylesheets 'stories'
- scripts 'stories'
- fonts 'http://fonts.googleapis.com/css?family=Reenie+Beanie&v2'

-# TODO: Set experiment should be moved to controller or wherever the experiment is being routed. Leaving it here for now because there is a bug in snogmetrics for set command. Bug report sent.
:javascript
  _kmq.push(['set', {'experiment_id': 10}])

#story
  #left_column1
    %h1
      = @story.title
    %h2
      = @story.subtitle


  #right_column1

  .clear

  #left_column2
    .story_pic
      %img{ :src => "#{ @art[:artwork] }" }
      #art_credit
        "
        %b><
          = @art[:artwork_title]
        " by
        = @art[:artist]

    = render "#{ @content }"

    = render "/shared/signup_widget_bottom"

    .darkgrey{ :style => "text-align: center" }
      \- to be continued -
      %br
      %br
      (This is an early draft. More coming soon. Thanks for reading!)
      %br
      %br

  #right_column2
    = render "/shared/signup_widget"

    #about_author
      %h4
        %img{ :src => "/images/text/text-abouttheauthor.png", :alt => "About the Author", :title => "About the Author" }
      %author_image
        %span{ :style => "float: left;"}
          %img{:src => @story.author.image, :width => "100px;", :style => "margin: 0 10px 0 0;"}
        %p
          = @story.author.bio

