= title "- Index Funnels"

%h1 Listing funnels
%table
  %tr
    %th ID
    %th Name
    - if can? :show, @funnel
      %th
    - if can? :update, @funnel
      %th
    - if can? :destroy, @funnel
      %th
  - @funnels.each do |funnel|
    %tr
      %td= funnel.id
      %td
        = funnel.name
      %td
        %table
          - funnel.steps.each do |step|
            %tr
              %td
                = step.sequence
              %td
                = step.name
      - if can? :show, @funnel
        %td= link_to 'Show', funnel
      - if can? :update, @funnel
        %td= link_to 'Edit', edit_funnel_path(funnel)
      - if can? :destroy, @funnel
        %td= link_to 'Destroy', funnel, :confirm => 'Are you sure?', :method => :delete
%br/
- if can? :create, @funnel
  = link_to(new_funnel_path) do
    .button
      New Funnel