- if @funnel.name != NIL
  = title "- Show Funnel - " + @funnel.name
- else
  = title "- Show Funnel - " + @funnel.id.to_s

%p
  %b id:
  = @funnel.id
%p
  %b Name:
  = @funnel.name

- if can? :update, @funnel
  = link_to 'Edit', edit_funnel_path(@funnel)
&#8226;
- if can? :create, @funnel
  = link_to 'New Funnel', new_funnel_path
&#8226;
= link_to 'Back', funnels_path