= form_for(@step) do |f|
  - if @step.errors.any?
    #error_explanation
      %h4
        = pluralize(@step.errors.count, "error")
        prohibited this step from being saved:
      %ul
        - @step.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :sequence
    %br/
    = f.text_field :sequence
  .actions
    %span.lowbutton
      = link_to 'Back', :back if :back
    = f.submit