- if @step.name != NIL
  = title "- Show Step - " + @step.name
- else
  = title "- Show Step - " + @step.id.to_s

%p
  %b id:
  = @step.id
%p
  %b Name:
  = @step.name
%p
  %b Sequence
  = @step.sequence

- if can? :update, @step
  = link_to 'Edit', edit_step_path(@step)
&#8226;
- if can? :create, @step
  = link_to 'New Step', new_step_path
&#8226;
= link_to 'Back', steps_path