- title "- " + @story.title + " - " + @story.subtitle
- stylesheets 'chapter'
- scripts 'stories'
- fonts 'http://fonts.googleapis.com/css?family=Reenie+Beanie&v2'

#story
  #left_column1
    %h1
      = @story.title
    %h2
      = @story.subtitle


  #right_column1

  .clear

  #left_column2
    - @chapter.creatives.each do |creative|
      = raw creative.render

    - if current_user && current_user.subscribed?(@story)
      = render :partial => "chapters/invite_widget", :locals => { :invite => @invite, :invite_message => @invite_message }
      = link_to "Previous Chapter", [@story, @chapter.prev_chapter] if !@chapter.prev_chapter.nil?
      = link_to "Next Chapter", [@story, @chapter.next_chapter] if !@chapter.next_chapter.nil?

    - else
      .signup_widget_bottom
        .signup_header
          %h2
            Want to read the next chapter?
        .signup_content
          %p
            Sign up here and I'll email you when it's ready.
          = render "subscriptions/subscription_form"

    .darkgrey{ :style => "text-align: center" }
      \- to be continued -
      %br
      %br
      (This is an early draft. More coming soon. Thanks for reading!)
      %br
      %br

  #right_column2
    - if current_user && current_user.subscribed?(@story)
      = render :partial => "chapters/invite_widget", :locals => { :invite => @invite, :invite_message => @invite_message }

    - else
      .signup_widget
        .signup_header
          %h4
            %img{ :src => "/images/text/text-next_chapter.png", :alt => "Next Chapter", :title => "Sign Up now!" }
        .signup_content
          %p
            Sign up here and I'll email you when it's ready.
          = render "subscriptions/subscription_form"

    #about_author
      %h4
        %img{ :src => "/images/text/text-abouttheauthor.png", :alt => "About the Author", :title => "About the Author" }
      %author_image
        %span{ :style => "float: left;"}
          %img{:src => @story.user.image, :width => "100px;", :style => "margin: 0 10px 0 0;"}
        %p
          = @story.user.bio
