- title "- " + @story.title + " - " + @story.subtitle
- stylesheets 'chapter'
- scripts 'chapter'
- fonts 'http://fonts.googleapis.com/css?family=Reenie+Beanie&v2'

-#- if RAILS_ENV == 'production' && current_user.nil? && @chapter.chapter_index != 1
-#  #sign_in_to_read_chapter
-#    %h4
-#      Please sign in to read this chapter!
-#    = render "subscriptions/subscription_form"
-#    .no_thanks
-#      = link_to "No thanks, just show me chapter 1.", story_chapter_path(@story, @story.chapters.first)

#story
  #left_column1
    %h1
      = @story.title
    %h2
      = @story.subtitle

  #right_column1
  .clear

  #left_column2
    = raw @creatives[0].render

    .chapter_heading
      %b #{@chapter.title}

    = raw @creatives[1].render

    - if !@chapter.next_chapter.nil?
      = render "contact_messages/feedback_form"

      -#.signup_widget_bottom
      -#
      -#  = link_to story_chapter_path(@story, @chapter.next_chapter), :class => "blue_button", :style => "text-align: center;" do
      -#    NEXT CHAPTER

    - else
      .signup_widget_bottom
        .signup_header
          %h2
            You've reached the last chapter. Want to read more?
          %br
          %h2
            %a{ :href => 'mailto:scott@monkeymake.it' }
              Email the author

      .darkgrey{ :style => "text-align: center; margin: 20px 0;" }
        You've just read from an early draft. More chapters coming soon. Thanks for reading.

  #right_column2

    #about_author
      %h4
        %img{ :src => "/images/text/text-abouttheauthor.png", :alt => "About the Author", :title => "About the Author" }
      %author_image
        %span{ :style => "float: left;"}
          %img{:src => @story.user.image, :width => "100px;", :style => "margin: 0 10px 0 0;"}
        %p
          = raw @story.user.bio
