.activity
  .activity_pic
    %img{:src => "#{activity[:image]}"}
  .activity_content
    %p.summary
      %span.actor
        = activity[:actor]
      %span.verb
        = activity[:verb]

      %span.object
        = activity[:object]

      %br
    %p.details
      = activity[:details]

    %p.timestamp
      = activity[:timestamp]

  .clear
  -#.actor_icon
  -#  %img{:src => "images/image-scott-lambridis.png"}
