- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crouts'
- scripts 'crouts'
- fonts 'http://fonts.googleapis.com/css?family=Reenie+Beanie&v2'

#crout
  #left_column1
    %h1
      = @crout[:title]
    %h2
      = @crout[:subtitle]


  #right_column1

  .clear

  #left_column2
    .story_pic.event_clicked_story_picture
      %img{ :src => "#{ @crout[:artwork] }" }

    = render "#{ @crout[:content] }"

  #right_column2
    #signup_widget
      #subscribe_header
        %h4
          %img{ :src => "images/text-signup.png", :alt => "Sign Up", :title => "Sign Up now!" }
      #subscribe_content
        %p
          Invite your friends and
          %b
            have your name printed
          in the first edition!

        - @registration = User.new
        = form_for(@registration, :url => registrations_path, :html => { :class => "event_form_email_login" }) do |f|
          - if @registration.errors.any?
            #error_explanation
              %h4
                = pluralize(@registration.errors.count, "error")
                prohibited this tag from being saved:
              %ul
                - @registration.errors.full_messages.each do |msg|
                  %li= msg

          .field
            = f.label :full_name, "Name:"
            = f.text_field :full_name, :class => "user_full_name", :value => params[:user].try(:[], :full_name).presence || "Name"

          .field
            = f.label :email, "Email:"
            = f.text_field :email, :class => "user_email", :value => params[:user].try(:[], :email).presence || "Email"

          .actions
            = f.submit ''
          .clear

    #about_author
      %h4
        %img{ :src => "images/text-abouttheauthor.png", :alt => "About the Author", :title => "About the Author" }
      %author_image
        %span{ :style => "float: left;"}
          %img{:src => "images/avatars/image-scott-lambridis.png", :width => "100px;", :style => "margin: 0 10px 0 0;"}
        %p
          Scott Lambridis' stories have appeared in Storyglossia, the UK's Black Static, and Transfer Magazine. Born and raised in New York, he earned a degree in neurobiology from UVa - which he promptly abandoned for a creative career. Scott is currently completing my MFA at San Francisco State, and working on a book about the scientist who discovered the end of time. You can contact Scott here:
          %a.blue{:href => "mailto:scott@omnibucket.com"} Email Scott

    #related_crouts
      %h4
        %img{ :src => "images/text-morestories.png", :alt => "More Stories", :title => "Additional novels, screenplays, and other work you might be interested in." }
      - @related.each do |related|
        = render :partial => "related_crout", :locals => { :related => related }
