- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crout-6'
-# TODO: Change yields so that they can accept arrays.
-#- scripts 'registration_form'
- scripts 'crouts'
- fonts 'http://fonts.googleapis.com/css?family=Reenie+Beanie&v2'

#crout
  #left_column1
    %h1
      = @crout[:title]
    %h2
      = @crout[:subtitle]


  #right_column1
    .buttons
      %span.join_modal.event_clicked_remix.event_clicked_remix_top
      %span.watch_modal.event_clicked_follow.event_clicked_follow_top
  .clear

  #left_column2
    .story_pic.event_clicked_story_picture
      %img{ :src => "#{ @crout[:artwork] }" }

    -#.story_sharing
    -#  = render :partial => "/layouts/sharing", :locals => { :share => { :url => "http://monkeymake.it/tw" + request.request_uri, :content => "I'm reading and remixing stories with @monkeymakeit" } }

    = render "#{ @crout[:content] }"


    .buttons{ :style => "margin-bottom: 40px;" }
      %span.join_modal.event_clicked_remix.event_clicked_remix_bottom
      %span.watch_modal.event_clicked_follow.event_clicked_follow_bottom

    -#.story_sharing-bottom
    -#  = render :partial => "/layouts/sharing", :locals => { :share => { :url => "http://monkeymake.it/tw" + request.request_uri, :content => "I'm reading and remixing stories with @monkeymakeit" } }

  #right_column2

    #activities
      %h4
        %img{ :src => "images/text-remixingnow.png", :alt => "Remixing Now", :title => "Monkeys are remixing #{ @crout[:title] } to improve or just create alternate versions!" }
      - @activities.each do |activity|
        = render :partial => "activity_with_action_icon", :locals => { :activity => activity }

    #contributors
      %h4
        %img{ :src => "images/text-collaborators.png", :alt => "Collaborators", :title => "Writers, Artists, Editors, and others who have contributed to #{ @crout[:title] }"}
      #author.event_clicked_contributor
        %img{ :src => "#{ @crout[:author_avatar] }", :title => "#{ @crout[:author] }" }
        = @crout[:author]
        %span.role
          \- author
      #artist.event_clicked_contributor
        %img{ :src => "#{ @crout[:artist_avatar] }", :title => "#{ @crout[:artist] }"}
        = @crout[:artist]
        %span.role
          \- artist
      %p
        Additional contributors:

      - @additional_contributors.each do |actor|
        = render :partial => "contributor", :locals => { :activity => actor }
      .clear

    #related_crouts
      %h4
        %img{ :src => "images/text-monkeywithmore.png", :alt => "Monkey with more", :title => "Additional novels, screenplays, and other work you might be interested in." }
      - @related.each do |related|
        = render :partial => "related_crout", :locals => { :related => related }