- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crout-1'
- scripts 'registration_form'

#crout
  %h1
    = @crout[:title]
  %h2
    = @crout[:subtitle]
  #left_column
    .story_pic
      %img{ :src => "#{ @crout[:artwork] }"}
      #art_credit
        "
        %b><
          = @crout[:artwork_title]
        " by
        = @crout[:artist]

    = render "#{@crout[:content]}"

  #right_column
    #remix
      #remix_header
        #remix_logo
        #remix_header_text
          %h4
            Did you know?
          %h3
            Monkeys are remixing this story!
        .clear
      #activities
        %h4
          Recent remixing
        - @activities.each do |activity|
          = render :partial => "activity_with_action_icon", :locals => { :activity => activity }

      .buttons
        .join_modal
          .join_arrow
        .watch_modal
          .watch_arrow

    #about_author
      %h3 About the author
      %img{:src => "#{ @crout[:author_avatar] }"}
        %p
          = @crout[:author_bio]
          %a.blue{:href => "mailto:scott@omnibucket.com"} Email me

  .clear
  #bottom_cta
    #cta_logo
    #cta_text
      %h4
        Did you know?
      %h3
        Monkeys are remixing this story!
    .clear
    #cta_left
      .join_modal
    #cta_right
      .watch_modal

    .clear
