- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crout-6'
- scripts 'registration_form'

#crout
  #left_column1
    %h1
      = @crout[:title]
    %h2
      = @crout[:subtitle]

    .story_sharing
      = render :partial => "/layouts/sharing", :locals => { :share => { :url => "http://monkeymake.it/tw" + request.request_uri, :content => "I'm reading and remixing stories with @monkeymakeit" } }

  #right_column1
    .buttons
      %span.join_modal
      %span.watch_modal
  .clear

  #left_column2
    .story_pic
      %img{ :src => "#{ @crout[:artwork] }"}

    = render "#{@crout[:content]}"

    .buttons{ :style => "margin-bottom: 40px;"}
      %span.join_modal
      %span.watch_modal

    .story_sharing-bottom
      = render :partial => "/layouts/sharing", :locals => { :share => { :url => "http://monkeymake.it/tw" + request.request_uri, :content => "I'm reading and remixing stories with @monkeymakeit" } }


  #right_column2
    #contributors
      %h4
        Contributors
      #author
        %img{:src => "#{ @crout[:author_avatar] }", :title => "#{ @crout[:author] }"}
        = @crout[:author]
        %span.role
          \- author
      #artist
        %img{:src => "#{ @crout[:artist_avatar] }", :title => "#{ @crout[:artist] }"}
        = @crout[:artist]
        %span.role
          \- artist
      %p
        Additional contributors:

      - @additional_contributors.each do |actor|
        = render :partial => "contributor", :locals => { :activity => actor }
      .clear
    #activities
      %h4
        Recent remixing
      - @activities.each do |activity|
        = render :partial => "activity_with_action_icon", :locals => { :activity => activity }
