- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crouts'
- scripts 'crouts'
- fonts 'http://fonts.googleapis.com/css?family=Reenie+Beanie&v2'

- @message = { :msg => "This story is looking for: ",
               :tags => ["feedback on characters", "editing", "illustration"] }

:javascript
  _kmq.push(['set', {'experiment_id': 7}])

#crout
  #left_column1
    %h1
      = @crout[:title]
    %h2
      = @crout[:subtitle]

  #left_column2
    .story_pic.event_clicked_story_picture
      %img{ :src => "#{ @crout[:artwork] }" }
      #art_credit
        "
        %b><
          = @crout[:artwork_title]
        " by
        = @crout[:artist]

    = render "#{ @crout[:content] }"

  #right_column1
    #disqus_thread

    %script{:type => 'text/javascript'}
      var disqus_shortname = 'monkeymakeit';

      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
