- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crout'
- scripts 'landing_pages'

#crout
  %h1
    = @crout[:title]
  %h2
    = @crout[:subtitle]
  #left_column
    .story_pic
      %img{ :src => "#{ @crout[:artwork] }"}
      #art_credit
        "
        %b><
          = @crout[:artwork_title]
        " by
        = @crout[:artist]
    %p#first_p
      %span#first_letter><
        = @crout[:first_letter]
      = @crout[:first_para]
    - if !@crout[:second_para].nil?
      %p
        = @crout[:second_para]
    - if !@crout[:third_para].nil?
      %p
        = @crout[:third_para]
    - if !@crout[:fourth_para].nil?
      %p
        = @crout[:fourth_para]

  #right_column
    #remix
      #remix_header
        #remix_logo
        #remix_header_text
          %h4
            Did you know?
          %h3
            Monkeys are remixing this story!
        .clear
      #activities
        - @activities.each do |activity|
          = render :partial => "activity", :locals => { :activity => activity }

      .buttons
        .join.access_denied
        .watch.access_denied

    #about_author
      %h3 About the author
      %img{:src => "#{ @crout[:author_avatar] }"}
        %p
          = @crout[:author_bio]
          %a.blue{:href => "mailto:scott@omnibucket.com"} Email me

  .clear
  #bottom_cta
    #cta_logo
    #cta_text
      %h4
        Did you know?
      %h3
        Monkeys are remixing this story!
    .clear
    #cta_left
      .join.access_denied
    #cta_right
      .watch.access_denied

    .clear