- title "- " + @crout[:title] + " - " + @crout[:subtitle]
- stylesheets 'crout-2'
- scripts 'landing_pages'

#crout
  #left_column1
    %h1
      = @crout[:title]
    %h2
      = @crout[:subtitle]
  #right_column1
    .buttons
      %span.join_modal
      %span.watch_modal
  .clear

  #left_column2
    .story_pic
      %img{ :src => "#{ @crout[:artwork] }"}

    = render "#{@crout[:content]}"

    .buttons{ :style => "margin-bottom: 40px;"}
      %span.join_modal
      %span.watch_modal

  #right_column2
    #contributors
      %h4
        Contributors
      #author
        %img{:src => "#{ @crout[:author_avatar] }", :title => "#{ @crout[:author] }"}
        = @crout[:author]
        %span.role
          \- author
      #artist
        %img{:src => "#{ @crout[:artist_avatar] }", :title => "#{ @crout[:artist] }"}
        = @crout[:artist]
        %span.role
          \- artist
      %p
        Additional contributors:

      - @activities.each do |activity|
        = render :partial => "contributor", :locals => { :activity => activity }
      .clear
    #activities
      %h4
        Recent remixing
      - @activities.each do |activity|
        = render :partial => "activity_with_action_icon", :locals => { :activity => activity }
