- title "- Doris by Scott Lambridis"
- stylesheets 'crout'

#crout
  %h1
    Doris
  %h2
    a short story about an albino duck
  #left_column
    .story_pic
      %img{ :src => "images/image-doris.jpg"}
      #art_credit
        "
        %b><
          = @crout[:artwork_title]
        " by
        = @crout[:artist]
    %p#first_p
      %span#first_letter><
        = @crout[:first_letter]
      = @crout[:first_para]
    %p
      = @crout[:second_para]

    .copyright
      \©2010-2011 Scott Lambridis

  #right_column
    #remix
      #remix_header
        #logo
        #remix_header_text
          %h4
            Did you know?
          %h3
            Monkeys are remixing this story!
        .clear
      #activities
        - @activities.each do |activity|
          = render :partial => "activity", :locals => { :activity => activity }

      .buttons
        .join
        .watch

    #about_author
      %h3 About the author
      %img{:src => "images/image-scott-lambridis.png"}
        %p
          My stories have appeared in Storyglossia, the UK's Black Static, and Transfer Magazine. Born and raised in New York, I earned a degree in neurobiology from UVa - which I promptly abandoned for a creative career. I'm completing my MFA at San Francisco State, and working on a book about the scientist who discovered the end of time. You know, the usual:
          %a.blue{:href => "mailto:scott@omnibucket.com"} Email me
