- @activities.each do |activity|
  .activity
    - if activity.activity_type == "Subscribed"
      = render :partial => "subscribed_activity", :locals => { :activity => activity }

    - elsif activity.activity_type == "Access Denied" || activity.activity_type == "Record not Found" || activity.activity_type == "404"
      = render :partial => "misc_activity", :locals => { :activity => activity }

    - elsif activity.activity_type == "Access Denied" || activity.activity_type == "Record not Found" || activity.activity_type == "404"
      = render :partial => "misc_activity", :locals => { :activity => activity }

    - elsif activity.target_model == "Page"
      = render :partial => "misc_activity", :locals => { :activity => activity }

    - elsif activity.target_model == "User"
      = render :partial => "user_activity", :locals => { :activity => activity }

    - elsif activity.target_model == "ContactMessage"
      = render :partial => "contact_message_activity", :locals => { :activity => activity }

    - else
      = render :partial => "undefined_activity", :locals => { :activity => activity }

    .activity_menu
      = link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete

= will_paginate @activities
