- @activities.each do |activity|
  .activity
    = activity.session_id || "(no session)"
    = activity.activity_type

    - if activity.target_type.nil?
      = NIL
    - elsif activity.target_type == "Page"
      = link_to activity.target_type, activity.url
    - elsif activity.target_type == "Invitation"
      = Invitation.find(activity.target_id).button_name
    - else
      = activity.target_type

    = activity.subtarget_type || "NIL"

    = User.owning(activity.url).identifier

    .activity_menu
      = link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete

= will_paginate @activities
