= form_for(@suggestion) do |f|
  - if @suggestion.errors.any?
    #error_explanation
      %h4
        = pluralize(@suggestion.errors.count, "error")
        prohibited this tag from being saved:
      %ul
        - @suggestion.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_area :after_text

  .field
    = f.label :email, "Your Email: "
    = f.text_field :email
  .actions
    = f.submit 'Send Suggestion'
