= form_for(@suggestion) do |f|
  - if @suggestion.errors.any?
    #error_explanation
      %h4
        = pluralize(@suggestion.errors.count, "error")
        prohibited this tag from being saved:
      %ul
        - @suggestion.errors.full_messages.each do |msg|
          %li= msg
  #suggestion_field_content.field
    = f.text_area :after_text


  %h3.blue
    And get
    %span.darkblue
      credit:
  .credit

    -##suggestion_field_name.field
    -#  = f.label :name, "Your Name: "
    -#  = f.text_field :name

    #suggestion_field_email.field
      = f.label :email, "Your Email: "
      = f.text_field :email

  .actions
    = f.submit ''
    %br
    .company_id
      %span.powered_by
        powered by
      %span.company_name
        suggestedit.org

  .clear