#suggestion_thanks
  #suggestion_thanks_inner
    %h1.blue
      Thanks!


    %p.darkblue
      Your tweak will now be sent to the blog owner
      %br/
      and they will contact you directly.

    %p.darkblue
      %div.darkblue(id='invite')
        Would one of your friends like this?
        = form_for(@new_user, :url => invitations_path) do |f|
          .field
            = f.text_field :email, :value => "Enter their email!"
          .actions
            = f.submit 'invite'
          .clear

    %div(style="margin-top:3em")
      = render "layouts/sharing", :url => "#{cookies[:url]}", :content => "I just tweaked a blog post with http://suggestededit.org at"
