%br.clear
%footer
  #footer_inner
    %p#footermenu
      = link_to "About", :about
      &#8226;
      -#= link_to "Blog", "http://GrasshopperHerder.com", :target => "_blank"
      -#&#8226;
      = link_to "Contact", :contact

    %p#copyright
      &copy;2010 SuggestEdit.com
      &#8226;
      = link_to "Privacy Policy", :privacy_policy
      &#8226;
      = link_to "Terms of Service", :terms_of_service

= link_to :contact do
  #feedback