%footer
  %footer_inner

    %span#copyright
      &copy;2011
      = link_to "MonkeyMake.it", root_path, :style => "text-decoration: none;"

    %span#footermenu
      = link_to "About", :about
      &#8226;
      -#= link_to "Blog", "http://GrasshopperHerder.com", :target => "_blank"
      -#&#8226;
      = link_to "Contact", :contact
      &#8226;
      = link_to "Privacy Policy", :privacy_policy
      &#8226;
      = link_to "Terms of Service", :terms_of_service