- if Rails.env.development? || Rails.env.staging? || (Rails.env.production? && !session[:admin])
  :erb
    <%=km.js! %>

%title
  MonkeyMake.it
  = yield :title

%link(rel='icon' href='/favicon.ico')
%link(rel='shortcut icon' href='/favicon.ico')

- stylesheets = yield :stylesheets
- if !stylesheets.blank?
  = stylesheet_link_tag stylesheets
= stylesheet_link_tag 'jquery-ui-custom'
= javascript_include_tag 'notifications', :defaults
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
- scripts = yield :scripts
- if !scripts.blank?
  = javascript_include_tag scripts
- fonts = yield :fonts
- if !fonts.blank?
  %link{:href => "#{ yield :fonts }", :rel => "stylesheet", :type => "text/css"}/
= csrf_meta_tag