%header
  %header_inner
    = link_to root_path, :id => 'home_link' do
      %logo
      .top_menu
        - if current_user
          = link_to "Sign Out", signout_path
          - if can? :manage, AdminController
            &#8226;
            = link_to "Admin", admin_path
        - else
          = link_to("/login/facebook", :class => "nodec") do
            .signin_facebook_small.event_login.event_login_facebook.event_login_facebook_header
          = link_to("/login/twitter", :class => "nodec") do
            .signin_twitter_small.event_login.event_twitter_twitter.event_login_twitter_header
