%title
  Suggest An Edit
  = yield :title

%link(rel='icon' href='/images/sg_favicon.ico')
%link(rel='shortcut icon' href='/images/sg_favicon.ico')

= stylesheet_link_tag :all
= javascript_include_tag :defaults
= yield :scripts
= csrf_meta_tag