!!!
%html

  %head
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'colorbox'
    = render '/layouts/head_loading'
    = render '/layouts/google_analytics'
    = javascript_include_tag 'jquery.colorbox-min'

  %body
    = render '/shared/signup'
    %container

      = render '/layouts/header'

      %content
        %content_inner

          - if can? :manage, AdminController
            = render 'admin/nav'

          = render :partial => '/layouts/flash', :locals => { :flash => flash }

          = yield

      = render '/layouts/footer'
