!!!
%html

  %head
    = stylesheet_link_tag 'application'
    = render '/layouts/analytics'
    = render '/layouts/head'

  %body
    %container
      - if request.env['PATH_INFO'] != '/'
        = render '/layouts/topnav'

      %content
        %content_inner

          - if request.env['PATH_INFO'] != '/' && can?(:manage, AdminController)
            = render 'admin/nav'

          - if request.env['PATH_INFO'] != '/'
            = render :partial => '/layouts/flash', :locals => { :flash => flash }

          = yield

      = render '/layouts/footer'
