!!!
%html

  %head
    = stylesheet_link_tag 'application'
    = render '/layouts/analytics'
    = render '/layouts/head'

  %body
    %container
      - if request.request_uri != '/'
        = render '/layouts/topnav'

      %content
        %content_inner

          - if can? :manage, AdminController
            = render 'admin/nav'

          = render :partial => '/layouts/flash', :locals => { :flash => flash }

          = yield

      = render '/layouts/footer'
