!!!
%html

  %head
    = render '/layouts/head_loading'
    = stylesheet_link_tag 'application'
    = render '/layouts/google_analytics'

  %body
    %container

      = render '/layouts/header'

      = render :partial => '/layouts/flash', :locals => { :flash => flash }

      %content
        %content_inner

          = yield

      = render '/layouts/footer'