!!!
%html

  %head
    = render "/layouts/head_loading"
    = render "/layouts/google_analytics"

  %body
    %header
      #header_inner
        = render "layouts/logo"
        = render "layouts/top_menu"

    .clear
    #flash_messages
      = render :partial => '/layouts/flash', :locals => { :flash => flash }

    #main_content
      #main_content_inner
        = yield

    = render "/layouts/footer"
