!!!
%html

  %head
    = stylesheet_link_tag 'landing_pages'
    = render "/layouts/head_loading"
    = render "/layouts/google_analytics"

  %body
    %container

      %content
        %content_inner
          = yield

      = render "/layouts/footer"